<hy-drawer
  id="_drawer"
  class="{% if include.cover %}cover{% endif %}"
  side="left"
  threshold="10"
  noscroll
  {% if include.cover %}opened{% endif %}
>
  <ins class="kakao_ad_area" style="display:none;"
       data-ad-unit = "DAN-FcUTUGAessjXmqKc"
       data-ad-width = "250"
       data-ad-height = "250"></ins>
  <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  <header id="_sidebar" class="sidebar" role="banner">
    {% include_cached body/sidebar-bg.html image=include.image color=include.color theme_color=include.theme_color %}
    {% include_cached body/sidebar-sticky.html %}
  </header>
  <ins class="kakao_ad_area" style="display:none;"
       data-ad-unit = "DAN-SHs42w0uPVS2qqCO"
       data-ad-width = "160"
       data-ad-height = "600"></ins>
  <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</hy-drawer>
<hr class="sr-only" hidden />
