{% if include.href.size > 0 %}
<ins class="kakao_ad_area" style="display:none;"
     data-ad-unit = "DAN-uIcdGNFTaRQVOY4u"
     data-ad-width = "300"
     data-ad-height = "250"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  <a
    class="{{ include.class }} {{ include.a_class }}"
    href="{{ include.href }}"
    {% if include.rel %}rel="{{ include.rel }}"{% endif %}
    {% if include.property %}property="{{ include.property }}"{% endif %}
  >
    {{- include.title -}}
  </a>
{% else %}
  <span class="{{ include.class }} {{ include.span_class }}">{{ include.title }}</span>
{% endif %}
